#
# Copyright 2021 Graviti. Licensed under MIT License.
#

# package dependences
click
filetype
numpy
numpy-quaternion
requests
requests_toolbelt
sortedcontainers
typing_extensions
ulid-py

# linter
pre-commit
pylint==2.7.4
astroid==2.5.2

# test
pytest==6.2.2
pytest-cov

# optional dependences
scipy
xmltodict
