#
# Copyright 2021 Graviti. Licensed under MIT License.
#

# package dependences
click
filetype
numpy
numpy-quaternion
requests
requests_toolbelt
sortedcontainers
typing_extensions
ulid-py

# linter
pre-commit
pylint==2.7.2

# test
pytest==6.2.2

# optional dependences
scipy
xmltodict
